body {
  margin: 0;
  width: 100%;
  background-color: #E5E5E5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header_inner {
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 0;
  flex: 1;
}

.header_logo span {
  margin-left: 10px;
  line-height: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8)), url(../img/Rectangle3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
}

.intro_inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro_logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.intro_logo h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

.intro_content {
  width: 540px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  align-self: center;
}

.nav {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.nav_link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.nav_link:hover {
  font-weight: bold;
}

.under_intro_block {
  width: 100%;
  background-color: #fff;
}

.under_intro_block_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 95px;
  padding-bottom: 95px;
  flex-wrap: wrap;
}

.under_intro_block h2 {
  color: black;
  font-size: 36px;
  width: 445px;
}

.content_under_intro_block p {
  color: black;
  font-size: 14px;
  width: 445px;
}

.content_under_intro_block_link {
  color: #ED4C5C;
  text-decoration: none;
}

.main_video video {
  width: 445px;
  height: 311px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.features_block {
  background-color: #fafafa;
}
.features_block h2 {
  color: black;
  font-size: 36px;
  padding-top: 63px;
  text-align: center;
}
.features_block .picture_part_block {
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features_block .picture_part_block .features_block_content {
  position: relative;
  padding-bottom: 124px;
}
.features_block .picture_part_block .features_block_content img {
  width: 350px;
  height: 250px;
  border-radius: 8px;
}
.features_block .picture_part_block .features_block_content .features_block_overview {
  width: 293px;
  height: 198px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  padding: 15px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.features_block .picture_part_block .features_block_content .features_block_overview h3 {
  font-size: 18px;
}
.features_block .picture_part_block .features_block_content .features_block_overview p {
  font-size: 12px;
}
.features_block .picture_part_block .features_block_content .features_block_overview .features_link {
  color: #ed4c5c;
  text-decoration: none;
  font-size: 12px;
}

.technology_block {
  background-color: #ffffff;
  padding-top: 63px;
}
.technology_block h2 {
  text-align: center;
  font-size: 36px;
}

.technology_content {
  padding-top: 35px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.technology_content h2 {
  text-align: center;
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
  margin: 0 69px;
  position: relative;
  z-index: 2;
}

.technology_items .svg_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}
.technology_items h3 {
  text-align: center;
  font-size: 18px;
  font-style: bold;
}
.technology_items p {
  align-self: center;
  text-align: center;
  font-size: 12px;
  width: 191px;
}/*# sourceMappingURL=style.css.map */